
.App {
  text-align: center;
  z-index: -1;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("./assets/background/future.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 50% 50%;
}

* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
}



